body {
    background: #fff;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.nav {
    background: #6B6C6D;
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.nav__logo {
    height: 13vh;
    width: 15vw;
    position: relative;
    justify-content: center;
}

.nav__logo img {
    height: 100%;
    width: 45%;
}

.nav__logo__img img {
    height: 14vh;
    width: 6vw;
}

.nav__div__ul {
    height: 100%;
    width: 70%;
    min-height: 90%;
    display: flex;
    width: 85vw;
}

.nav__ul {
    list-style-type: none;
    display: flex;
    height: 14vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nav__ul-li {
    position: relative;
    width: 13.5vw;
    margin: .4em;
}

.nav__ul-li a {
    color: #A3CD39;
    font-size: 1.3em;
    margin-left: .5em;
    font-family: 'Courgette';
}

.nav__ul-li i {
    font-size: 1.3em;
    color: #A3CD39;
}

.nav__ul-li:hover>a {
    transition: 1s;
    font-size: 1.6em;
}

.nav__ul-li:hover>i {
    transition: .8s;
    font-size: 1.6em;
}

.primeraImpresion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeraImpresion__div-izquierdo {
    width: 50%;
}

.primeraImpresion__div-izquierdo__h1 {
    margin-top: 2vh;
    margin-left: 3vw;
    font-size: 6.5em;
    font-family: 'Courgette';
}

.primeraImpresion__div-izquierdo__h3 {
    margin-top: -2.5vh;
    margin-left: 3vw;
    font-size: 4.5em;
    font-weight: 400;
    font-family: 'Courgette';
}

.primeraImpresion__div-derecho {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.primeraImpresion__div-derecho p {
    font-family: 'Courgette';
    font-size: 1.2em;
    font-size: 600;
}

.portada {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: .2em;
}


.portada-small {
    display: none;
}

.eslogan {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eslogan__h3 {
    
    font-size: 3em;
    color: #C8A96F;
    width: 100%;
}

.eslogan__p {
    
    font-size: 1.5em;
    margin-top: 1em;
    width: 100%;
}

.eslogan-small {
    display: none;
}

.cuadrados__contenedor {
    width: 100vw;
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cuadrados__contenedor div {
    width: 30vw;
    height: 70%;
    border: #717171 2px solid;
    text-align: center;
}

.cuadrados__contenedor__numeros {
    color: #717171;
    font-size: 1.6em;
    margin-top: .5em;
    font-weight: 600;
}

.cuadrados__contenedor_p {
    color: #717171;
    font-size: 1.2em;
    font-weight: 500;
}

.cuadrados__contenedor__h3 {
    font-size: 1.6em;
    color: #000;
}

.cuadrados__contenedor__h3:hover {
    font-size: 2em;
    transition: .8s;
}

.cuadrados-small {
    display: none;
}

.preMenu {
    width: 100%;
    height: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.5em;
}

.preMenu h3 {
    color: #C8A96F;
    font-size: 4em;
}

.contenedor__portafolio {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portafolio {
    width: 90%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.portafolio__imagenes {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.portafolio__descripcion {
    text-align: left;
}

.portafolio__descripcion h4 {
    font-size: 1.6em;
    font-weight: 800;
}

.portafolio__descripcion p {
    color: #717171;
    font-size: 1em;
    font-weight: 400;
}

footer {
    width: 100%;
    min-height: 20vh;
    background: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer__contenedor {
    width: 90%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border-top: 3px solid #717171;
    margin-top: 8vh;
    padding-top: 6vh;
    margin-bottom: 10vh;
}

.footer__contenedor-div {
    height: 18vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer__contenedor-div h4 {
    font-size: 1.8em;
}

.footer__contenedor-div p {
    font-size: 1.1em;
}
.footer__contenedor-div a {
    font-size: 1em;
    font-weight: 600;
}

.footer__contenedor-div i {
    font-size: 1.4em;
    margin-right: .5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.redes-large:hover {
    font-size: 1.3em;
    transition: .8s;
}

.footer__contenedor-div-BOTON {
    height: 15vh;
    background: #000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 35%;
}

.footer__contenedor-div-BOTON p {
    color: #A3CD39;
    font-size: 1.8em;
    font-weight: 600;
}

.fa-facebook {
    color: #146EC8;
}

.fa-instagram {
    color: #C6017B;
}

.fa-twitter {
    color: #00acee;
}

/*DISPLAY: NONE; DE LAS VERSIONES SMALL/MEDIUM*/
.menu__responsive-ul {
    display: none;
}

.menu__responsive-medium-ul {
    display: none;
}

.primeraImpresion-small {
    display: none;
}

.primeraImpresion-medium {
    display: none;
}

.portada-small {
    display: none;
}

.portada-medium {
    display: none;
}

.eslogan-small {
    display: none;
}

.eslogan-medium {
    display: none;
}

.cuadrados-small {
    display: none;
}

.cuadrados-medium {
    display: none;
}

.preMenu-small {
    display: none;

}

.preMenu-medium {
    display: none;
}

.contenedor__portafolio-small {
    display: none;

}

.contenedor__portafolio-medium {
    display: none;
}

.footer-small__contenedor {
    display: none;

}

.footer-medium__contenedor {
    display: none;

}