body {
    background: #fff;
    height: 100%;
    width: 100%;
}

.nav {
    display: none;
}

.menu__responsive-ul {
    display: none;
}

.menu__responsive-medium-ul {
    display: block;
    position: relative;
    width: 100vw;
    min-height: 11vh;
    max-height: 20%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    display: flex;
    overflow: hidden;
    background: #ccc;
}

.menu__responsive-medium-img-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 16vw;
    height: 12vh;
    margin-left: 0.7em;
    position: relative;
}

.menu__responsive-medium-img-container img {
    width: 90%;
    height: 100%;
}

.menu__responsive-medium-button-container {
    width: 20%;
    height: 60%;
    margin-right: 0.7em;
    position: relative;
}

.menu__responsive-medium-button-container i {
    font-size: 2.5em;
}

.menu__responsive-medium-container-li {
    height: 80vh;
    width: 80vh;
    top: -.3em;
    text-decoration: none;
    position: fixed;
    left: 100%;
    background: #bebcbc;
    transition: 0.6s;
    grid-template-columns: repeat(1, 6fr);
    text-align: left;
    justify-content: left;
    align-items: left;
}

.menu__responsive-medium-container-li i {
    font-size: 2em;
    margin-top: 1.5em;
    margin-right: .5em;
    margin-left: 1em;
}

.menu__responsive-medium-container-li a {
    font-size: 2em;
}

.menu__responsive-medium-ul:hover>.menu__responsive-medium-container-li {
    left: 25%;
}

.primeraImpresion {
    display: none;
}

.primeraImpresion-small {
    display: none;
}

.primeraImpresion-medium {
    width: 100%;
    margin-top: -2em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.primeraImpresion-medium__superior {
    background: #fff;

}

.primeraImpresion-medium__superior h1 {
    font-size: 6em;
    margin-top: .5em;
}

.primeraImpresion-medium__superior h3 {
    font-size: 4.5em;
    margin-top: -0.7em;
    margin-bottom: .5em;
    font-weight: 400;
}

.primeraImpresion-medium__inferior p {
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
}

.primeraImpresion-medium__inferior p {
    font-size: 2em;
    font-weight: 500;
}

.portada-small {
    display: none;

}

.portada-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.portada {
    display: none;
}

.eslogan-small {
    display: none;
}

.eslogan-medium {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eslogan-medium h3 {
    font-size: 2.8em;
    margin-top: 0.5em;
    color: #C8A96F;
}

.eslogan-medium p {
    font-size: 2.5em;
    font-weight: 500;
    margin-top: 1em;
}

.eslogan {
    display: none;
}

.cuadrados {
    display: none;
}

.cuadrados-small {
    display: none;

}


.cuadrados-medium {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.cuadrados-medium__contenedor {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr)
}

.cuadrados-medium__contenedor__div {
    border: #717171 2px solid;
    width: 100%;
    margin-bottom: 1em;
}

.cuadrados-medium__contenedor__div h3 {
    font-size: 2.8em;
    color: #000000;
    margin-top: .6em;
}

.cuadrados-medium__contenedor__div p {
    color: #717171;
    font-size: 1.8em;
    font-weight: 500;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.cuadrados-medium__contenedor__div p:first-child {
    color: #717171;
    font-size: 2.3em;
    font-weight: 800;
}

.preMenu-small {
    display: none;
}

.preMenu-medium {
    width: 100%;
    height: 25vh;
    top: -3em;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.preMenu-medium h3 {
    color: #C8A96F;
    font-size: 4em;
}

.preMenu {
    display: none;
}

.contenedor__portafolio-small {
   display: none;
}

.contenedor__portafolio-medium {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -5em;
}

.portafolio-medium {
    width: 90%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 10px;
}

.portafolio__imagenes {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.portafolio__descripcion-medium {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.portafolio__descripcion-medium h4 {
    font-size: 2.5em;
    font-weight: 800;
}

.portafolio__descripcion-medium p {
    color: #717171;
    font-size: 1.8em;
    font-weight: 400;
}

.contenedor__portafolio {
    display: none;
}

.footer__contenedor {
    display: none;
}

.footer-small__contenedor {
    display: none;
}

.footer-medium__contenedor {
    width: 100%;
    background: #343434;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 6fr);
    grid-gap: 10px;
    border-top: 5px solid #595959;
    margin-top: 5vh;
    
}

.footer-medium__contenedor-div {
    height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.footer-medium__contenedor-div h3 {
    font-size: 4.5em;
    padding: 0;
    color: #fff;
    
}

.footer-medium__contenedor-div h4 {
    font-size: 3.2em;
    padding: 0;
    color: #fff;
    margin-bottom: 0.5em;
}

.footer-medium__contenedor-div p {
    font-size: 1.6em;
    color: #fff;
}

.footer-medium__contenedor-div a {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.5em;
}

.footer-medium__contenedor-div i {
    font-size: 0.9em;
    margin-right: 0.5em;
}

.footer-medium__contenedor-div-BOTON {
    height: 10vh;
    width: 40vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
}

.footer-medium__contenedor-div-BOTON p {
    color: #000000;
    font-weight: 600;
    font-size: 2em;
}

.fa-facebook {
    color: #146EC8;
}

.fa-instagram {
    color: #C6017B;
}

.fa-twitter {
    color: #00acee;
}