body {
    background: #F7F7F7;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.nav {
    background: #6B6C6D;
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.nav__logo {
    height: 100%;
    width: 20vw;
    position: relative;
    right: 4em;
}

.nav__logo__img {
    margin-top: 1.5vh;
    margin-left: 2vw;
    margin-bottom: 1.5vh;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.nav__logo__img img {
    height: 14vh;
    width: 6vw;
}

.nav__div__ul {
    height: 100%;
    width: 70%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__ul {
    list-style-type: none;
    display: flex;
    min-width: 80vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.nav__ul-li {
    position: relative;
    right: 2em;
    width: 14vw;
}

.nav__ul-li a {
    color: #A3CD39;
    font-size: 1.3em;
    margin-left: .5em;
    font-family: 'Courgette';
}

.nav__ul-li i {
    font-size: 1.3em;
    color: #A3CD39;
}

.nav__ul-li:hover>a {
    transition: 1s;
    font-size: 1.6em;
}

.nav__ul-li:hover>i {
    transition: .8s;
    font-size: 1.6em;
}

.portada-large {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: .2em;
    top: .5em;
}

.primeraImpresion-large__div-superior {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 95vh;
}

.primeraImpresion-large__div-superior h1 {
    font-size: 5em;
    font-family: 'Courgette';
    position: relative;
    bottom: 3vh;
    right: 11vw;
}

.primeraImpresion-large__div-inferior-contenedor {
    position: absolute;
    width: 100%;
    top: 130vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.primeraImpresion-large__div-inferior {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    width: 80%;
}

.primeraImpresion-large__div-inferior-div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.primeraImpresion-large__div-inferior-div h3 {
    margin-top: -2.5vh;
    margin-left: 3vw;
    font-size: 2em;
    font-weight: 800;
    font-family: 'Courgette';
}

.primeraImpresion-large__div-inferior-div p {
    font-weight: 600;
    font-size: 1.6em;
    color: #797979;
}

.primeraImpresion-large__div-derecho p {
    font-family: 'Courgette';
    font-size: 1.2em;
    font-size: 600;
}



.presentacion-large_contenedor {
    margin-top: 3em;
    border: red solid 5px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.presentacion-large__div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: violet 3px solid;
    width: 41vw;
    height: 140vh;
    position: relative;
    left: 3em;
}

.presentacion-large__descripcion {
    border: orange 3px solid;
    text-align: left;
    justify-content: center;
    align-items: center;

}

.presentacion-large__descripcion a {
    color: #000;
    font-size: 1.2em;
}

.presentacion-large__descripcion h3 {
    color: #C8A96F;
    font-size: 3em;
}

.presentacion-large__descripcion h4 {
    color: #000;
    font-size: 1.4em;

}

.presentacion-large__descripcion p {
    color: #000;
    font-size: 1.25em;
}

.presentacion-large__descripcion h5 {
    color: #000;
    font-size: 1.2em;

}

.banner-large {
    display: flex;
    justify-content: center;
    border: solid black 4px;
}

.galery-large {
    position: relative;
}

.container {
    display: flex;
    border: 3px blue solid;
    height: 115vh;
}

.slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    background: #fff;
    padding: 2px;
    width: 100%;
    height: 110vh;
  
    z-index: 1;

    position: relative;
    border: red solid 3px;
    align-items: center;
}


.slider__container-img {
    border: 3px solid green;
    min-width: 64.4vw;
    height: 105vh;
    margin: 4px;
    padding: 0%;
    overflow: hidden;
    position: relative;
}

.slider__container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
        transform: 0.5s;
        opacity: 0.3s;
}

.slider__container-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 1s;
    opacity: 0.3s;
    pointer-events: none;
    mix-blend-mode: darken;
}

.slider__container-img:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.control {
    position: absolute;
    font-size: 4em;
    cursor: pointer;
    object-fit: contain;
    background: #00FFDC;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 0;
    transform: translate(30%, 425%);
}

.next {
    right: 0;
    transform: translate(-20%, 420%);
}

footer {
    width: 100%;
    min-height: 20vh;
    background: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer__contenedor {
    width: 90%;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border-top: 3px solid #717171;
    margin-top: 8vh;
    padding-top: 6vh;
    margin-bottom: 10vh;
}

.footer__contenedor-div {
    height: 18vh;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer__contenedor-div h4 {
    font-size: 1.8em;
}

.footer__contenedor-div p {
    font-size: 1.1em;
}

.footer__contenedor-div a {
    font-size: 1em;
    font-weight: 600;
}

.footer__contenedor-div i {
    font-size: 1.4em;
    margin-right: .5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.redes-large:hover {
    font-size: 1.3em;
    transition: .8s;
}

.footer__contenedor-div-BOTON {
    height: 15vh;
    background: #000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 35%;
}

.footer__contenedor-div-BOTON p {
    color: #A3CD39;
    font-size: 1.8em;
    font-weight: 600;
}

.fa-facebook {
    color: #146EC8;
}

.fa-instagram {
    color: #C6017B;
}

.fa-twitter {
    color: #00acee;
}

/*DISPLAY: NONE; DE LAS VERSIONES SMALL/MEDIUM*/
.menu__responsive-ul {
    display: none;
}

.menu__responsive-medium-ul {
    display: none;
}

.portada-small {
    display: none;
}

.preMenu-small {
    display: none;

}

.preMenu-medium {
    display: none;
}

.footer-small__contenedor {
    display: none;

}

.footer-medium__contenedor {
    display: none;

}